<div class="container ItemsList">
    <div class="mini-item"><img src="/assets/pdf.png" class="image" id="pdf"><div class="texRow">Purchase Invoice</div><img src="/assets/more.png" class="image" id="more"></div>
    <div class="mini-item"><img src="/assets/pdf.png" id="pdf"><div class="texRow">Buyers Order</div><img src="/assets/more.png" id="more"></div>
    <div class="mini-item"><img src="/assets/pdf.png" id="pdf"><div class="texRow">Finance Contracts</div><img src="/assets/more.png" id="more"></div>
    <div class="mini-item"><img src="/assets/pdf.png" id="pdf"><div class="texRow">Title Application</div><img src="/assets/more.png" id="more"></div>
    <div class="mini-item"><img src="/assets/pdf.png" id="pdf"><div class="texRow">Credit Application</div><img src="/assets/more.png" id="more"></div>
    <div class="mini-item"><img src="/assets/pdf.png" id="pdf"><div class="texRow">Service Contracts</div><img src="/assets/more.png" id="more"></div>
    <div class="mini-item"><img src="/assets/pdf.png" id="pdf"><div class="texRow">Vehicle Registration Documents</div><img src="/assets/more.png" id="more"></div>
    <div class="mini-item"><img src="/assets/pdf.png" id="pdf"><div class="texRow">Privacy Notice</div><img src="/assets/more.png" id="more"></div>
    <div class="mini-item"><img src="/assets/pdf.png" id="pdf"><div class="texRow">Credit Score Disclosure</div><img src="/assets/more.png" id="more"></div>
    <div class="mini-item"><img src="/assets/pdf.png" id="pdf"><div class="texRow">Vehicle Quick Start Guide</div><img src="/assets/more.png" id="more"></div>

</div>