/* You can add global styles to this file, and also import other style files */

.btn{width:80%;height:50px;margin-left:10%;}
.button.Verified {background-color:#091b3b;}
#submit{width:97%;height:50px;margin-left:1%;font-size:18px;}
.container{font-family: sans-serif;width:98%;height:auto;padding-top:5px;padding-bottom:50px;margin-left:2%;}
#selectInput{width:100px;height:50px;margin-top:15px;margin-left: 10px;border: 1px solid #acaaaa;border-radius: 5px;}
.yearInput{width: 80px;margin-right: 5px;}
.parag{font-weight: lighter;color:gray;margin-left:4px;}
.inputField{display:flex;}
.loginFomr{margin-top:50px;}
.miniTitle{font-weight:600;}
label{font-weight: 600;margin-left:10px;}
.mobileLabel{margin-left:4px;}
#mobileNumber{width:95%;height:50px;margin-left:1%;border: 1px solid #acaaaa;}
.notification{height:20px;background: transparent;color:grey;margin-left:15px;}
  input:focus {outline: none;border-color: #53b5f3;box-shadow: 0 0 10px #53b5f3; }
  select:focus {outline: none;border-color: #53b5f3;box-shadow: 0 0 10px #53b5f3; }
